<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
	<% include partials/template/header2.ejs %>
    
	<section class="layout">
		<div class="primary">
			<div>
				
			</div>
		</div>
		<aside class="secondary">
			<div>
				
			</div>
		</aside>
	</section>
	
	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
